.card-main {
    text-align: center;
    padding: 25px;
    width: 30%;
}
.card {
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
}
.card img {
    width: 80px;
}
.card-body {
    background: #64485C;
    border-radius: 20px;
    border-style: groove;
    border-width: 10px;
    color: #ADADAD;
    width: fit-content;
    padding: 5px;
    margin: 25px;
    
    
}
