.card-main {
    text-align: center;
    width: 50vw;
    display:grid;
    grid-gap: 1rem;
    padding: 25px;
    
}
.card img {
    width: 75px;
}
.card-body {
    background: #64485C;
    border-radius: 20px;
    border-style: groove;
    border-width: 10px;
    color: #ADADAD;
}
