.header {
    background: #2E1114;
    height: 200px;
  }
  
  .header h1 {
    margin: 0;
    padding-top: 45px;
    text-align: center;
    color: white;
    font-size: 3rem;
  }
  .header h3 {
    text-align: center;
    color: #ADADAD;
    padding: 25px;
  }
  