.form {
    background: #64485C;
    text-align: center;
    font-weight: bold;
    color: #ADADAD;
    padding: 5px;
    width: 100%;

}
.form input {
    border-radius: 15px;
    border: solid #501b1d;
   
}
.form p {
    text-align:center;
    width: 50%;
    color: white;
    margin-left:25%;
    padding: 5px;
    font-size: x-small;

}
